In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
!git clone https://yeonjungho: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@github.com/yeonjungho/bigdata.git

fatal: destination path 'bigdata' already exists and is not an empty directory.

In [12]:
!git config --global user.email 'duswjdgh0617@naver.com'
!git config --global user.name 'yeonjungho'

In [14]:
!git add 빅데이터프로젝트.ipynb

fatal: not a git repository (or any of the parent directories): .git

In [2]:
# 단계 1: 폰트 설치
import matplotlib.font_manager as fm
import matplotlib.pyplot as plt
!apt-get -qq -y install fonts-nanum > /dev/null
#fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'

#font = fm.FontProperties(fname=fontpath, size=9)

#fm._rebuild()



fe = fm.FontEntry(
    fname=r'/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf', # ttf 파일이 저장되어 있는 경로
    name='NanumGothic')                        # 이 폰트의 원하는 이름 설정
fm.fontManager.ttflist.insert(0, fe)              # Matplotlib에 폰트 추가
plt.rcParams.update({'font.size': 18, 'font.family': 'NanumGothic'}) # 폰트 설

In [ ]:
# 단계 2: 런타임 재시작
import os
os.kill(os.getpid(), 9)

In [1]:
# 단계 3: 한글 폰트 설정
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.font_manager as fm

# 마이너스 표시 문제
mpl.rcParams['axes.unicode_minus'] = False

# 한글 폰트 설정
fe = fm.FontEntry(
    fname=r'/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf', # ttf 파일이 저장되어 있는 경로
    name='NanumGothic')                        # 이 폰트의 원하는 이름 설정
fm.fontManager.ttflist.insert(0, fe)              # Matplotlib에 폰트 추가
plt.rcParams.update({'font.size': 18, 'font.family': 'NanumGothic'}) # 폰트 설

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('/content/빅데이터이음.csv', encoding='utf-8')

print(df)

             일자         지역  문화취미-영화관      숙박       약국        연료  유통업영리 - 편의점  \
0    2025-01-01  인천광역시 강화군     61000  310100   501400   7369451      5430590
1    2025-01-02  인천광역시 강화군     54000   62000  3396110  12740492      6514280
2    2025-01-03  인천광역시 강화군      7000  240000  3793110  10325810      6818890
3    2025-01-04  인천광역시 강화군     86000  250100  2719490  11967997      6222940
4    2025-01-05  인천광역시 강화군      7000   20000   434900   5800303      4768610
..          ...        ...       ...     ...      ...       ...          ...
336  2025-01-27         기타         0       0        0         0        36150
337  2025-01-28         기타         0       0        0         0       104950
338  2025-01-29         기타         0       0        0         0       149650
339  2025-01-30         기타         0       0        0         0        71200
340  2025-01-31         기타         0       0        0         0        81910

         일반휴게        학원        기타       전체금액
0    36367190    398000  38417950   88855681
1    23682610  17610300  45088390  109148182
2    25807590  16222650  44620533  107835583
3    41099470   2797000  58708989  123851986
4    15114806   1049900  22583900   49779419
..        ...       ...       ...        ...
336   2105100    920000   3408390    6469640
337   2421500         0   1354650    3881100
338    613800         0   1019290    1782740
339   1671900         0   1884600    3627700
340   1072800   3270000  10270913   14695623

[341 rows x 11 columns]

In [5]:
df.columns

Index(['일자', '지역', '문화취미-영화관', '숙박', '약국', '연료', '유통업영리 - 편의점', '일반휴게', '학원',
       '기타', '전체금액'],
      dtype='object')

In [6]:
df.head(1)

,일자,지역,문화취미-영화관,숙박,약국,연료,유통업영리 - 편의점,일반휴게,학원,기타,전체금액
0,2025-01-01,인천광역시 강화군,61000,310100,501400,7369451,5430590,36367190,398000,38417950,88855681

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import numpy as np


plt.rcParams['font.family'] = 'NanumGothic'
plt.rcParams['axes.unicode_minus'] = False
plt.style.use('ggplot')

# ----------------------------------------------------
# 1. 데이터 로드 및 전처리
# ----------------------------------------------------
print("--- 1. 데이터 로드 및 전처리 시작 ---")
file_name = "빅데이터이음.csv" # 파일 이름 변수화 (사용자 파일 이름)


try:
    df_data = pd.read_csv(file_name, encoding='utf-8')
except UnicodeDecodeError:
        exit()

# '일자' 컬럼을 datetime으로 변환하고 '월', '군구' 컬럼 생성
df_data['일자'] = pd.to_datetime(df_data['일자'])
df_data['월'] = df_data['일자'].dt.to_period('M').astype(str)
df_data['군구'] = df_data['지역'].apply(lambda x: x.split()[-1])

print("데이터 로드 및 전처리 완료.")

# ----------------------------------------------------
# 2. 분석 및 요약 데이터 생성
# ----------------------------------------------------
print("\n--- 2. 분석 및 요약 데이터 생성 시작 ---")
industry_cols = ['문화취미-영화관', '숙박', '약국', '연료', '유통업영리 - 편의점', '일반휴게', '학원', '기타']
group_cols = ['전체금액'] + industry_cols

# 2-1. 업종별 총 소비 금액 분석 (인천시 업종 별 소비 금액.csv)
df_industry_total = df_data[industry_cols].sum().reset_index()
df_industry_total.columns = ['업종', '총 소비 금액']
df_industry_total = df_industry_total.sort_values(by='총 소비 금액', ascending=False)
df_industry_total['총 소비 금액 (억 원)'] = (df_industry_total['총 소비 금액'] / 100000000).round(2)
df_industry_total.to_csv("인천시 업종 별 소비 금액.csv", index=False, encoding='utf-8-sig')

# 2-2. 군/구별 총 소비 금액 요약 ( 군구 별 소비 금액.csv)
df_district_summary = df_data.groupby('군구')[group_cols].sum().reset_index()
df_district_summary = df_district_summary.sort_values(by='전체금액', ascending=False)
df_district_summary['전체금액 (억 원)'] = (df_district_summary['전체금액'] / 100000000).round(2)
df_district_summary.to_csv(" 군구 별 소비 금액.csv", index=False, encoding='utf-8-sig')

# 2-3. 일자별 총 소비 금액 추이 데이터 (result3.png에 사용)
df_daily_total = df_data.groupby(df_data['일자'].dt.date)['전체금액'].sum().reset_index()
df_daily_total.columns = ['일자', '일별 총 소비 금액']
df_daily_total['일별 총 소비 금액 (억 원)'] = df_daily_total['일별 총 소비 금액'] / 100000000

print("분석 및 요약 데이터 생성 완료. (2개 CSV 파일 저장)")

# ----------------------------------------------------
# 3. 데이터 시각화
# ----------------------------------------------------

print("\n--- 3. 데이터 시각화 시작 (4개 PNG 파일 생성) ---")

# 3-1. 업종별 총 소비 금액 시각화 (막대 그래프) -> result1.png
plt.figure(figsize=(12, 6))
sns.barplot(
    x='업종',
    y='총 소비 금액 (억 원)',
    data=df_industry_total,
    palette='viridis'
)
# 제목 수정: 2025년 1월
plt.title('업종별 총 소비 금액 (2025년 1월)', fontsize=16)
plt.xlabel('업종', fontsize=12)
plt.ylabel('총 소비 금액 (억 원)', fontsize=12)
plt.xticks(rotation=45, ha='right')
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.savefig('result1.png')
plt.close()

# 3-2. 군/구별 총 소비 금액 시각화 (막대 그래프) -> result2.png
plt.figure(figsize=(12, 6))
sns.barplot(
    x='군구',
    y='전체금액 (억 원)',
    data=df_district_summary,
    palette='magma'
)
# 제목 수정: 2025년 1월
plt.title('군/구별 총 소비 금액 (2025년 1월)', fontsize=16)
plt.xlabel('군/구', fontsize=12)
plt.ylabel('총 소비 금액 (억 원)', fontsize=12)
plt.xticks(rotation=0)
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.tight_layout()
plt.savefig('result2.png')
plt.close()

# 3-3. 25.1월 일자별 총 소비 금액 그래프 (선 그래프) -> result3.png
plt.figure(figsize=(14, 7))
sns.lineplot(
    x='일자',
    y='일별 총 소비 금액 (억 원)',
    data=df_daily_total,
    marker='o',
    color='darkorange',
    linewidth=2
)
# ⭐️ 제목 수정: 2025년 1월
plt.title('2025년 1월 일자별 총 소비 금액 추이', fontsize=16)
plt.xlabel('일자', fontsize=12)
plt.ylabel('일별 총 소비 금액 (억 원)', fontsize=12)
plt.xticks(df_daily_total['일자'], rotation=45, ha='right')
plt.grid(axis='both', linestyle='--', alpha=0.6)
plt.tight_layout()
plt.savefig('result3.png')
plt.close()

# ⭐️ 3-4. 군/구별 업종별 소비 금액 비중 시각화  -> result4.png
print("\n--- 3-4. 군/구별 업종별 소비 비중 (Stacked Bar Plot) 생성 ---")


# '군구'를 인덱스로 설정하고 업종별 금액만 선택
df_plot = df_district_summary.set_index('군구')[industry_cols]

# 금액 단위를 '억 원'으로 변환하여 시각화 가독성 높이기
df_plot_billion = df_plot / 100000000

# Pandas의 plot 메서드를 사용하여 생성
plt.figure(figsize=(15, 8))
ax = df_plot_billion.plot(
    kind='bar',
    stacked=True,
    figsize=(15, 8),
    colormap='Spectral',
    edgecolor='black',
    ax=plt.gca()
)

# : 2025년 1월
plt.title('군/구별 업종별 소비 금액 비중 (2025년 1월)', fontsize=16)
plt.xlabel('군/구', fontsize=12)
plt.ylabel('총 소비 금액 (억 원)', fontsize=12)
plt.xticks(rotation=45, ha='right')

# 범례 위치를 그래프 밖으로 이동하여 겹치지 않게 설정
plt.legend(title='업종', bbox_to_anchor=(1.05, 1), loc='upper left')

# 그래프 저장
plt.tight_layout(rect=[0, 0, 0.85, 1]) # 범례를 위한 공간 확보
plt.savefig('result4.png')
plt.close()

print("모든 시각화 파일 생성이 완료되었습니다: result1.png, result2.png, result3.png, result4.png")

print("\n--- 전체 코드 실행 완료 ---")

--- 1. 데이터 로드 및 전처리 시작 ---
데이터 로드 및 전처리 완료.

--- 2. 분석 및 요약 데이터 생성 시작 ---
분석 및 요약 데이터 생성 완료. (2개 CSV 파일 저장)

--- 3. 데이터 시각화 시작 (4개 PNG 파일 생성) ---

/tmp/ipython-input-2700533703.py:70: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(
/tmp/ipython-input-2700533703.py:88: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(

--- 3-4. 군/구별 업종별 소비 비중 (Stacked Bar Plot) 생성 ---
모든 시각화 파일 생성이 완료되었습니다: result1.png, result2.png, result3.png, result4.png

--- 전체 코드 실행 완료 ---